# dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# build output
dist
build

# environment files
.env
.env.*
!.env.example

# git
.git
.gitignore

# IDEs
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# logs
logs
*.log

# tests
coverage

# docker
Dockerfile
.dockerignore

# misc
*.local